<div class="center jumbotron">
  <h1>Go Slack! Find your line</h1>

  <h2>
    Go Slack! Indoors, Outdoor, or up high!
    <br>
    <a href="http://www.wikipedia.org/">Wiki</a>
    sample link.
  </h2>

  <%= link_to "Slack With Us!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
<%= link_to image_tag("c1.png", height: '150', alt: "Slack Logo"), 'http://etsy.com/' %>
</div>

