<footer class="footer">
  <small>
    Visit <a href="http://www.google.com/">Google</a>
    or <a href="http://www.wikipedia.org/">Wikipedia</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.freedomainradio.com/">News</a></li>
    </ul>
  </nav>
</footer>